

.content{
  height: 735px;
  max-width: 1450px;
  padding-bottom: 10px;
  background-image: url("https://w-dog.ru/wallpapers/6/12/494724163095576/2011-muzyka-kish-korol-i-shut-xorror-pank-folk-pank-pank-rok.jpg");
  margin: auto;
  background-size: cover;
  border: 4px #b1b11e solid;

}
